$gray: rgb(240, 236, 236);
$white: white;
$blue: #2A5B8D;
$blue2: #6c95be;
$alert: red;
$warning: orange;
$black: black;
$green: rgb(79, 121, 79);

@mixin alerts($background, $font) {
  background-color: $background;
  color: $font;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 3rem;
}

.header {
  width: 100%;
  margin-bottom: 3rem;
  padding: 1rem;
  box-shadow: 1px 1px 4px $black;
  .title {
    padding: 1rem 0 1rem 3rem;
    font-size: 2rem;
    font-weight: 700;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  .col-4 {
    padding: 1rem;
    box-shadow: 1px 1px 4px $black;
    width: 32%;
    .card {
      .card-header {
        width: 100%;
        background: $gray;
        h4 {
          font-size: 2rem;
          padding: 1rem;
        }
      }
      .card-body {
        padding: 1rem 0;
        .form-group {
          input {
            height: 50px;
            width: 100%;
            margin-bottom: 1rem;
            padding: 0.5rem;
            border: 1px solid rgb(196, 194, 194);
          }
        }
        .btn {
          width: 100%;
          padding: .7rem;
          font-size: 1rem;
          font-weight: 700;
          background: $white;
          border: 1px solid $blue;
          border-radius: 15px;
          color: $blue;
          &:hover {
            background: $blue;
            color: $white
          }
        }
      }
    }
  }

  .col-8 {
    padding: 1rem;
    width: 66%;
    box-shadow: 1px 1px 4px black;
    table {
      width: 100%;
      thead {
        font-weight: 700;
        background-color: $gray;
        .product__name {
          width: 65%;
          border-bottom: 2px solid $black;
          padding: .5rem 0;
          text-align: left;
        }
        .product__price {
          width: 15%;
          border-bottom: 2px solid $black;
          padding: .5rem 0;
          text-align: center;
        }
        .product__year {
          border-bottom: 2px solid $black;
          padding: .5rem 0;
          text-align: center;
        }
        .product__action {
          width: 5%;
          border-bottom: 2px solid $black;
          padding: .5rem 0;
          text-align: center;
        }
      }
      tbody {
        tr {
          background-color: $gray;
          .product__name {
            padding: .4rem 0rem;
            width: 65%;
            text-align: left;
          }
          .product__price {
            padding: .5rem 0rem;
            width: 15%;
            text-align: center;
          }
          .product__year {
            padding: .6rem 0rem;
            width: 15%;
            text-align: center;
          }
          .product__action {
            padding: .6rem 0rem;
            width: 5%;
            text-align: center;
            .btn__deleted {
              border: none;
              cursor: pointer;
              .far {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
}

.alert-sucess {
  @include alerts($green, $white);
}

.alert-delete {
  @include alerts($alert, $white);
}

.alert-warning {
  @include alerts($warning, $white);
}

/* Logo animado  */
.box {
	display: flex;
}

.box .inner {
	width: 150px;
	height: 80px;
	line-height: 80px;
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}


.box .inner:first-child {
	background-color: $blue2;
	color: $blue;
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: lightcoral;
	background-color: $blue;
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}


